{% include "base/base_logged_in.html" %}

<div style="display:flex;justify-content:center;align-items:center;width:100%;height:100%;">
  <div style="width:50%;height:100%">
<h1> Create New User </h1>

    <div>
        {% if user_exists %}
      <div class="ui icon warning message">
          <i class="exclamation icon"></i>
      <div class="content">
        <div class="header">
          CrewPlanner User Already Connected!
        </div>
      </div>
    </div>
        {% elif user_created %}
      <div class="ui icon positive message">
          <i class="plus icon"></i>
      <div class="content">
        <div class="header">
          CrewPlanner User Created!
        </div>
      </div>
    </div>
        {% endif %}
    </div>

    <form class="ui form" action="/user/create/" method="post">

        <div class="field">
            <input type="text" name="name" placeholder="Company name...">
        </div>
        <div class="field">
            <input type="text" name="stub" placeholder="Stub...">
        </div>
        <div class="field">
            <input type="text" name="crewplanner_key" placeholder="CrewPlanner API Key...">
        </div>
        <h3>Pay Settings</h3>
        <div class="field">
            <label for="pay_period">Choose pay period:</label>
            <select id="pay_period" name="pay_period">
                <option value="Monthly">Monthly</option>
                <option value="FourWeekly">Four Weekly</option>
                <option value="Fortnightly">Fortnightly</option>
                <option value="Weekly">Weekly</option>
                <option value="Daily">Daily</option>
            </select>
        </div>
        <div class="field">
            <label for="tax_year">Choose the first tax year:</label>
            <select id="tax_year" name="tax_year">
                <option value="Year2023">2023</option>
                <option value="Year2024">2024</option>
                <option value="Year2025">2025</option>
                <option value="Year2026">2026</option>
                <option value="Year2027">2027</option>
                <option value="Year2028">2028</option>
                <option value="Year2029">2029</option>
                <option value="Year2030">2030</option>
            </select>
        </div>
        <div class="field">
            <input type="text" name="period_end" placeholder="yyyy-mm-dd, first pay period end date"><br>
        </div>
        <div class="field">
            <input type="text" name="payment_date" placeholder="yyyy-mm-dd, first payment date"><br>
        </div>
        <h3>Leave Settings</h3>
        <div class="field">
            <label for="leave_type">Choose leave type:</label>
            <select id="leave_type" name="leave_type">
                <option value="Accrual_Money">Accrue payments in lieu of holiday days</option>
                <option value="Accrual_Days">Accrue holiday days for time worked</option>
                <option value="Days">Allowance is set as a number of Days</option>
            </select>
        </div>
        <div class="field">
            <input type="text" name="accrue_hours_per_day" placeholder="If accrual days - how many hours worked accrues a day?"><br>
        </div>
        <div class="field">
            <input type="text" name="accrue_payment_in_lieu_rate" placeholder="The rate at which payments in lieu accrue - typical 12.07"><br>
        </div>
        <div class="field">
            <input type="text" name="allowance_reset_date" placeholder="If using day based leave, when does your allowance reset? yyyy-mm-dd"><br>
        </div>
        <div class="field">
            <label for="accrue_payment_in_lieu_all_gross_pay">If accruing payments in lieu, is this based on gross pay or regular pay?</label>
            <select id="accrue_payment_in_lieu_all_gross_pay" name="accrue_payment_in_lieu_all_gross_pay">
                <option value=""></option>
                <option value="true">Gross Pay</option>
                <option value="false">Regular Pay</option>
            </select>
        </div>
        <div class="field">
            <label for="accrue_set_amount">Accrue a set amount of days holiday per period worked</label>
            <select id="accrue_set_amount" name="accrue_set_amount">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
        </div>
        <div class="field">
            <label for="show_allowance_on_pay_slip">Show the remaining allowance on employee payslip?</label>
            <select id="show_allowance_on_pay_slip" name="show_allowance_on_pay_slip">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
        </div>
        <div class="field">
            <label for="show_ahp_on_pay_slip">Show the AHP balance on the employee payslip?</label>
            <select id="show_ahp_on_pay_slip" name="show_ahp_on_pay_slip">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
        </div>
        <div class="field">
            <label for="accrue_payment_in_lieu_pay_automatically">Automatically pay employees outstanding holiday pay?</label>
            <select id="accrue_payment_in_lieu_pay_automatically" name="accrue_payment_in_lieu_pay_automatically">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
        </div>

        {% csrf_token %}
        <button class="ui blue button" type="submit">Add</button>
    </form>
