{% include "base/base_logged_in.html" %}

<div style="display:flex;justify-content:center;align-items:center;width:100%;height:100%;">
  <div style="width:50%;height:100%">
<h1> Create New User </h1>

    <div>
        {% if user_exists %}
      <div class="ui icon warning message">
          <i class="exclamation icon"></i>
      <div class="content">
        <div class="header">
          CrewPlanner User Already Connected!
        </div>
      </div>
    </div>
        {% elif user_created %}
      <div class="ui icon positive message">
          <i class="plus icon"></i>
      <div class="content">
        <div class="header">
          CrewPlanner User Created!
        </div>
      </div>
    </div>
        {% endif %}
    </div>

    <form class="ui form" action="/user/create/" method="post">

        <div class="field">
            <input type="text" name="name" placeholder="Company name...">
        </div>
        <div class="field">
            <input type="text" name="stub" placeholder="Stub...">
        </div>
        <div class="field">
            <input type="text" name="crewplanner_key" placeholder="CrewPlanner API Key...">
        </div>

        {% csrf_token %}
        <button class="ui blue button" type="submit">Add</button>
    </form>
